<div>
    <h2 id="page-heading">
        <span>Register Requests</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-register-request" [routerLink]="['/register-request/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Register Request
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="registerRequests?.length === 0">
        <span>No registerRequests found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="registerRequests && registerRequests.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nombre</span></th>
                    <th scope="col" ><span>Apellido</span></th>
                    <th scope="col" ><span>Email</span></th>
                    <th scope="col" ><span>Re-Inscripcion</span></th>
                    <th scope="col" ><span>Nun. Telefono</span></th>
                    <th scope="col" ><span>Whatsapp</span></th>
                    <th scope="col" ><span>Celular</span></th>
                    <th scope="col" ><span>Numero de Emergencia</span></th>
                    <th scope="col" ><span>Dirrección </span></th>
                    <th scope="col" ><span>Lugar de Trabajo</span></th>
                    <th scope="col" ><span>Telefono Trabajo</span></th>
                    <th scope="col" ><span>Acepta dia de pago</span></th>
                    <th scope="col" ><span>Asistió a Reuniones</span></th>
                    <th scope="col" ><span>Pago a Tiempo </span></th>
                    <th scope="col" ><span>Sugerencia</span></th>
                    <th scope="col" ><span>Fecha de Creacion </span></th>
                    <th scope="col" ><span>Status</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registerRequest of registerRequests ;trackBy: trackId">
                    <td><a [routerLink]="['/register-request', registerRequest.id, 'view']">{{ registerRequest.id }}</a></td>
                    <td>{{ registerRequest.firstName }}</td>
                    <td>{{ registerRequest.lastName }}</td>
                    <td>{{ registerRequest.email }}</td>
                    <td>{{ registerRequest.reEnrollment }}</td>
                    <td>{{ registerRequest.phoneNumber }}</td>
                    <td>{{ registerRequest.whatsapp }}</td>
                    <td>{{ registerRequest.cellNumber }}</td>
                    <td>{{ registerRequest.emergencyNumber }}</td>
                    <td>{{ registerRequest.address }}</td>
                    <td>{{ registerRequest.workPlace }}</td>
                    <td>{{ registerRequest.workPhoneNumber }}</td>
                    <td>{{ registerRequest.acceptPaymnetDate }}</td>
                    <td>{{ registerRequest.attendMeetings }}</td>
                    <td>{{ registerRequest.paidOnTime }}</td>
                    <td>{{ registerRequest.suggestion }}</td>
                    <td>{{ registerRequest.createDate | date:'medium' }}</td>
                    <td>{{ registerRequest.status }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/register-request', registerRequest.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/register-request', registerRequest.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(registerRequest)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
