<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-register-request-heading">Formulario de Inscripción</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_firstName" ngbTooltip="The firstname attribute.">Nombres</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Apellidos</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_reEnrollment">Re-Inscripción</label>
                    <input type="checkbox" class="form-control" name="reEnrollment" id="field_reEnrollment"
                           formControlName="reEnrollment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_phoneNumber">Numero de  Telefono</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_whatsapp">Whatsapp</label>
                    <input type="text" class="form-control" name="whatsapp" id="field_whatsapp"
                           formControlName="whatsapp"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cellNumber">Celular</label>
                    <input type="text" class="form-control" name="cellNumber" id="field_cellNumber"
                           formControlName="cellNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_emergencyNumber">Numero de emergencia</label>
                    <input type="text" class="form-control" name="emergencyNumber" id="field_emergencyNumber"
                           formControlName="emergencyNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_address">Dirreccion</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                    <div *ngIf="editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('address')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_workPlace">Lugar de Trabajo</label>
                    <input type="text" class="form-control" name="workPlace" id="field_workPlace"
                           formControlName="workPlace"/>
                    <div *ngIf="editForm.get('workPlace')!.invalid && (editForm.get('workPlace')!.dirty || editForm.get('workPlace')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('workPlace')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_workPhoneNumber">Numero del Trabajo</label>
                    <input type="text" class="form-control" name="workPhoneNumber" id="field_workPhoneNumber"
                           formControlName="workPhoneNumber"/>
                    <div *ngIf="editForm.get('workPhoneNumber')!.invalid && (editForm.get('workPhoneNumber')!.dirty || editForm.get('workPhoneNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('workPhoneNumber')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_acceptPaymnetDate">Acepta  Dia de pago</label>
                    <input type="checkbox" class="form-control" name="acceptPaymnetDate" id="field_acceptPaymnetDate"
                           formControlName="acceptPaymnetDate"/>
                    <div *ngIf="editForm.get('acceptPaymnetDate')!.invalid && (editForm.get('acceptPaymnetDate')!.dirty || editForm.get('acceptPaymnetDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('acceptPaymnetDate')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_attendMeetings">Asistió a  Reuniones</label>
                    <input type="checkbox" class="form-control" name="attendMeetings" id="field_attendMeetings"
                           formControlName="attendMeetings"/>
                    <div *ngIf="editForm.get('attendMeetings')!.invalid && (editForm.get('attendMeetings')!.dirty || editForm.get('attendMeetings')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('attendMeetings')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paidOnTime">Pago a Tiempo</label>
                    <input type="checkbox" class="form-control" name="paidOnTime" id="field_paidOnTime"
                           formControlName="paidOnTime"/>
                    <div *ngIf="editForm.get('paidOnTime')!.invalid && (editForm.get('paidOnTime')!.dirty || editForm.get('paidOnTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paidOnTime')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_suggestion">Sugerencia</label>
                    <input type="text" class="form-control" name="suggestion" id="field_suggestion"
                           formControlName="suggestion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" formControlName="createDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createDate')!.invalid && (editForm.get('createDate')!.dirty || editForm.get('createDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createDate')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createDate')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="SUBMIT">SUBMIT</option>
                        <option value="CANCELLED">CANCELLED</option>
                        <option value="ENROLL_PROCESS">ENROLL_PROCESS</option>
                        <option value="PROCESS">PROCESS</option>
                        <option value="FINSHED">FINSHED</option>
                    </select>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>
